PORT=4000
JWT_SECRET=123456789

MAIL_HOST='smpt.gmail.com'
MAIL_USER='viveksharma4507@gmail.com'
MAIL_PASS=


//cloudinary 
FOLDER_NAME=vivek
CLOUD_NAME=
API_KEY=
SECRET_KEY=''

// RAZORPAY
RAZORPAY_KEY=
RAZORPAY_SECRET=

DATABASE_URL='mongodb+srv://<viveksharma004>:<password>@db1.ww2lf.mongodb.net/EdTech'